## Crear una base de datos nueva

Se extraerà concepto de la fuente original: https://docs.python.org/2/library/sqlite3.html para comprender en totalidad lo aprendido en Py4e.com

In [52]:
import sqlite3
conn = sqlite3.connect('Ages')#Se conecta la base de datos con la direccion entre parentesis
#Seleccionar el cursor para realizar la consulta
cur = conn.cursor()
cur.execute('DROP TABLE IF EXISTS Ages')
cur.execute('''CREATE TABLE Ages
             (name VARCHAR(128), age INTEGER)''')

cur.execute("INSERT INTO Ages (name, age) VALUES (?, ?)",  ('Dylan', 22))
cur.execute("INSERT INTO Ages (name, age) VALUES (?, ?)",  ('Omar', 37))
cur.execute("INSERT INTO Ages (name, age) VALUES (?, ?)",  ('Riley', 18))
cur.execute("INSERT INTO Ages (name, age) VALUES (?, ?)",  ('Mili', 22))

conn.commit()
conn.close()

#Source:https://docs.python.org/2/library/sqlite3.html

In [ ]:
import sqlite3
conn = sqlite3.connect('Counting_Organization')#Se conecta la base de datos con la direccion entre parentesis
#Seleccionar el cursor para realizar la consulta
cur = conn.cursor()
cur.execute('DROP TABLE IF EXISTS count')
cur.execute('''CREATE TABLE count
             (email VARCHAR(128), count INTEGER)''')

cur.execute("INSERT INTO Ages (email, count) VALUES (?, ?)",  ('k', v))
conn.commit()
conn.close()

## Extrayendo datos de una base de datos

In [ ]:
import sqlite3

conn = sqlite3.connect('Ages') 
cur = conn.cursor()

print('Ages:')
cur.execute('SELECT name, age FROM Ages')
cur.execute('SELECT name ,age FROM Ages ORDER BY age') #Ordenar age de menor a mayor. 
#cur.execute('DELETE FROM Ages WHERE age = 18')  #Eliminar una fila
for row in cur:
     print(row)

#cur.execute('DELETE FROM name WHERE age < 100')

cur.close()
print(type(row))
print(type(cur))

## Counting Organizations

Bienvenido Ariel Chitay de Python para todos

Para obtener crédito por esta tarea, realice las siguientes instrucciones y cargue su base de datos SQLite3 aquí:
(Debe tener un sufijo .sqlite)

Sugerencia: el recuento máximo de la organización es 536.
No necesita exportar o convertir la base de datos, simplemente cargue el archivo .sqlite que crea su programa. Vea el código de ejemplo para el uso de la declaración connect ().

Organizaciones de conteo
Esta aplicación leerá los datos del buzón (mbox.txt) y contará el número de mensajes de correo electrónico por organización (es decir, el nombre de dominio de la dirección de correo electrónico) utilizando una base de datos con el siguiente esquema para mantener los conteos.

CREATE TABLE Counts (org TEXT, count INTEGER)
Cuando haya ejecutado el programa en mbox.txt, cargue el archivo de base de datos resultante anterior para calificar.
Si ejecuta el programa varias veces en pruebas o con diferentes archivos, asegúrese de vaciar los datos antes de cada ejecución.

Puede utilizar este código como punto de partida para su aplicación: http://www.py4e.com/code3/emaildb.py.

El archivo de datos para esta aplicación es el mismo que en asignaciones anteriores: http://www.py4e.com/code3/mbox.txt.

Debido a que el código de muestra está utilizando una instrucción UPDATE y está confirmando los resultados en la base de datos, ya que cada registro se lee en el ciclo, puede llevar unos minutos procesar todos los datos. El compromiso insiste en escribir completamente todos los datos en el disco cada vez que se llama.

El programa se puede acelerar mucho moviendo la operación de confirmación fuera del ciclo. En cualquier programa de base de datos, hay un equilibrio entre la cantidad de operaciones que ejecuta entre confirmaciones y la importancia de no perder los resultados de las operaciones que aún no se han confirmado.

In [2]:
import string
import os
import sqlite3
conn = sqlite3.connect('tarea')#Se conecta la base de datos con la direccion entre parentesis
#Seleccionar el cursor para realizar la consulta
cur = conn.cursor()
cur.execute('DROP TABLE IF EXISTS count')
cur.execute('''CREATE TABLE count
             (email VARCHAR(128), count INTEGER)''')

try:
    fhand = open('mbox.txt')	
except:
    print('File cannot be opened:', fname)
    exit()

counts = dict()
for line in fhand:
    if line.startswith('From:'):
        word = line.split()[1]
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1


for k,v in counts.items():
    cur.execute("INSERT INTO count (email, count) VALUES (?, ?)",  (str(k), v))    
    

cur.execute('SELECT email ,count FROM count ORDER BY count') #Ordenar age de menor a mayor.
for row in cur:
     print(row)
        
conn.commit()
conn.close()

('colin.clark@utoronto.ca', 1)
('thoppaymallika@fhda.edu', 1)
('jlrenfro@ucdavis.edu', 1)
('jleasia@umich.edu', 2)
('gbhatnag@umich.edu', 3)
('bahollad@indiana.edu', 4)
('knoop@umich.edu', 5)
('ssmail@indiana.edu', 5)
('tnguyen@iupui.edu', 6)
('hu2@iupui.edu', 7)
('ggolden@umich.edu', 8)
('john.ellis@rsmart.com', 8)
('lance@indiana.edu', 8)
('jzaremba@unicon.net', 9)
('mbreuker@loi.nl', 9)
('ktsao@stanford.edu', 12)
('kimsooil@bu.edu', 14)
('a.fish@lancaster.ac.uk', 14)
('stuart.freeman@et.gatech.edu', 17)
('zach.thomas@txstate.edu', 17)
('ostermmg@whitman.edu', 17)
('antranig@caret.cam.ac.uk', 18)
('csev@umich.edu', 19)
('louis@media.berkeley.edu', 24)
('gopal.ramasammycook@gmail.com', 25)
('bkirschn@umich.edu', 27)
('arwhyte@umich.edu', 27)
('josrodri@iupui.edu', 28)
('nuno@ufp.pt', 28)
('gsilver@umich.edu', 28)
('stephen.marquard@uct.ac.za', 29)
('ray@media.berkeley.edu', 32)
('sgithens@caret.cam.ac.uk', 43)
('wagnermr@iupui.edu', 44)
('gjthomas@iupui.edu', 44)
('ajpoland@iupui.edu', 48)
('david.horwitz@uct.ac.za', 67)
('dlhaines@umich.edu', 84)
('rjlowe@iupui.edu', 90)
('jimeng@umich.edu', 93)
('ian@caret.cam.ac.uk', 96)
('aaronz@vt.edu', 110)
('chmaurer@iupui.edu', 111)
('cwen@iupui.edu', 158)
('mmmay@indiana.edu', 161)
('zqian@umich.edu', 195)

In [ ]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (email, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?',
                    (email,))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

In [ ]:
import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Genre;
DROP TABLE IF EXISTS Track;
CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);
CREATE TABLE Genre (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name TEXT UNIQUE
);
CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);
CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id INTERGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')



fname = 'Library.xml'

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None

stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    genre = lookup(entry, 'Genre')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')

    if name is None or artist is None or album is None or genre is None: 
        continue

    print(name, genre, artist, album, count, rating, length)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ? )''', 
        ( name, album_id, length, rating, count ) )

    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ?)''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, genre_id, album_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        ( name, genre_id, album_id, length, rating, count ) )

    conn.commit()

sqlstr = 'SELECT Track.title, Artist.name, Album.title, Genre.name FROM Track JOIN Genre JOIN Album JOIN Artist ON Track.genre_id = Genre.id AND Track.album_id = Album.id AND Album.artist_id = Artist.id ORDER BY Artist.name LIMIT 3'

spreadsheet = cur.execute(sqlstr)

for row in spreadsheet:
    print(row[0], row[1], row[2], row[3])

cur.close()